body{
    font-family: "Raleway", Arial, sans-serif
}

footer{
    display: block;
    padding: 10px;
    width: 100%;
    background-color: #000E2F;
}

li{
    text-align: left;
}

.banner{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.description{
    box-sizing: border-box;
    padding: 10px 150px;
    text-align: justify;
    width: 100%;
    line-height: 1.5;
}

.bottom{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #000E2F;
}

.navbar {
    background-color: #000E2F;
    overflow: hidden;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 300;
}
  
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    box-sizing: border-box;
    
}
  
.navbar a:hover {
    background-color: white;
    color: #000E2F;
}
  
.navbar a.active {
    background-color: #7C878E;
    color: white;
}

.white{
    color: white;
}

.speech-bubble-left {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 20px 40px;
    max-width: 450px;
    padding: 20px;
    position: relative;
    background: #e9e8eb;
    float: left;
}

.speech-bubble-left p {
    margin: 0 0 10px;
}

.speech-bubble-left p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble-left::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #e9e8eb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.speech-bubble-right {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 20px 40px;
    max-width: 450px;
    padding: 20px;
    position: relative;
    background: #1d8efe;
    float: right;
}

.speech-bubble-right p {
    margin: 0 0 10px;
}

.speech-bubble-right p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble-right::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #1d8efe;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.clr{
    clear: both;
}